map_reduce/__pycache__/mapper.cpython-310.pyc
map_reduce/__pycache__/mapreduce.cpython-310.pyc
map_reduce/__pycache__/master.cpython-310.pyc
map_reduce/__pycache__/reducer.cpython-310.pyc
map_reduce/__pycache__/task.cpython-310.pyc
map_reduce/__pycache__/utilities.cpython-310.pyc
